<div *ngIf="dataLoaded == false" class="spinner-grow" role="status">
</div>
<table *ngIf="dataLoaded" class="table">
  <thead>
    <tr>
      <th scope="col">Araç Markası</th>
      <th scope="col">Renk</th>
      <th scope="col">Günlük Ücret</th>
      <th scope="col">Detay</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{car.brandName}}</td>
      <td>{{car.colorName}}</td>
      <td>{{car.dailyPrice}} TL</td>
      <td><button type="button" [routerLink] ="['/cars/getcardetails/' + car.carId]" class="btn btn-info">Göster</button></td>
    </tr>
  </tbody>
</table>
